button {
    padding: 10px;
    font-size: 16px;
}

#canvas div {
    box-sizing: border-box;
    border: 1px solid black;
}

#canvas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#canvas {
    position: relative;
    width: 512px;
    height: 512px;
    border: 1px solid black;
}

#class-selector {
    float: right;
    font-size: 16px;
  }

#class-selector-list {
    max-height: 400px;
    overflow-y: auto;
}

#image-container {
    max-height: 512px;
    overflow-y: auto;
    max-width: fit-content;
}